@tailwind base;
@tailwind components;
@tailwind utilities;

    @font-face {
        font-family: 'Poppins';
        src: url('/fonts/Poppins-Regular.woff') format('woff');
        font-weight: 400;
    }

    @font-face {
        font-family: 'Rajdhani';
        src: url('/fonts/Rajdhani-Regular.woff') format('woff');
        font-weight: 400;
    }
